<html xmlns:th="http://www.thymeleaf.org">

<div
	style="color: blue; text-align: center; font-size: 60px; font-weight: bolder; background: yellow">Welcome
	to Employee Management System</div>
<br>
<br>
<h2 style="color: red; text-align: center">Register Employee</h2>
<form th:object="${emp}" th:action="@{/employee/emp_add}" method="post">

	<table align="center" bgcolor="cyan">
		<tr>
			<td>EMP NAME ::</td>
			<td><input type="text" th:field="*{ename}" /></td>
		</tr>
		<tr>
			<td>EMP JOB ::</td>
			<td><input type="text" th:field="*{job}" /></td>
		</tr>
		<tr>
			<td>EMP SALARY ::</td>
			<td><input type="text" th:field="*{sal}" /></td>
		</tr>
		<tr>
			<td>EMP DEPT NO ::</td>
			<td><input type="text" th:field="*{deptno}" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="register" /></td>
			<td><input type="reset" value="cancel" /></td>
			<td><a th:href="@{/employee}">Home</a></td>
		</tr>
	</table>
</form>